<table>

  <% if headers %>
  <tr>
    <%= render(partial: 'application/table_view_generator/headers_generator',
      collection: headers, as: :header) %>
  </tr>
  <% end %>

  <tr>
    <%= render(partial: 'application/table_view_generator/data_generator',
      collection: data, as: :datum) %>
  </tr>
</table>
