<h1>All Recipes</h1>

<%= render(
partial: 'recipes/partials/controls/recipes',
locals: {
  user: current_user
}) %>

<br><br>Search coming soon<br><br>

<% data = collect_recipes_for_table_display(@recipes) %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>
