<%= render(partial: 'recipe_nav_links', locals: {recipe: @recipe, user: @user}) %>

<h2>Edit</h2>

<%= render(partial: 'cu_form',
locals: {
  model: @recipe,
  url: edit_recipe_path(@recipe.user, @recipe),
  method: :patch
}) %>
