<h1>All Recipes</h1>

<%= render(partial: 'nav_links', locals: {user: current_user}) %>

<% headers = ["All Recipes"] %>
<% data = collect_recipes_for_table_display(@recipes) %>
<%= render(partial: 'application/table_view_generator/table_generator',
locals: {headers: headers, data: data}) %>
