<h1>Recipes</h1>

<% headers = ["Recipe"] %>
<% data = []
@recipes.each do |recipe|
  data << ["link", recipe.name, "recipes/#{recipe.id}"]
  data << ["new_row"] unless recipe == @recipes.last
end %>
<%= render(partial: 'application/table_view_generator/table_generator',
locals: {headers: headers, data: data}) %>
