<%= render(
partial: 'recipes/partials/controls/recipe',
locals: {
  recipe: @recipe,
  user: @user
}) %>

<h2>Ingredients</h2>

<% headers = ["Amount", "Unit", "Ingredients"] %>
<% data = collect_recipe_ingredients_for_table_display(@recipe) %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  headers: headers,
  data: data
}) %>
