<h1>New Recipe</h1>

<%= render(
partial: 'recipes/partials/controls/recipes',
locals: {
  user: current_user
}) %>

<%= render(
partial: 'recipes/partials/forms/cu_recipe_full',
locals: {
  model: @recipe,
  url: recipe_new_full_path(),
  method: :post
}) %>
