<h1>New Recipe</h1>

<%= render(partial: 'recipes_nav_links', locals: {user: current_user}) %>

<%= render(partial: 'cu_form',
locals: {
  model: @recipe,
  url: new_recipe_path(@user),
  method: :post
}) %>
