<%= render(
partial: 'recipes/partials/controls/recipe',
locals: {
  recipe: @recipe,
  user: @user
}) %>

<h2>Nutrition</h2>

<h3>Macronutrients</h3>
<% data = collect_recipe_nutrients_for_table_display(@recipe, 'macronutrient') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>

<h3>Vitamins</h3>
<% data = collect_recipe_nutrients_for_table_display(@recipe, 'vitamin') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>

<h3>Minerals</h3>
<% data = collect_recipe_nutrients_for_table_display(@recipe, 'mineral') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>
