<h1>Food Log</h1>

<%= render(
partial: 'users/partials/controls/user',
locals: {
  user: current_user
}) %>

<br><br>date and timeframe toggles coming soon!<br><br>

<% data = collect_user_food_logs_for_table_display(@user) %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>
