<h1>Log In</h1>

<%= render(
  partial: 'users/partials/forms/log_in',
  locals: {
    model: @user,
    url: '/log-in',
    method: :post
}) %>
<br><br>
Don't have an account?
<%= link_to("Sign Up", "/sign-up", method: :get) %>
