<h1>Log In</h1>

<%= link_to "Authenticate with Google", "/auth/google_oauth2", id: "sign_in" %>
<br><br>-OR-<br><br>
Log In with email<br><br>
<%= render(
  partial: 'users/partials/forms/log_in',
  locals: {
    model: @user,
    url: '/log-in',
    method: :post
}) %>
<br><br>
Don't have an account?
<%= link_to("Sign Up", "/sign-up", method: :get) %>
