<h1>My Recipes</h1>

<%= render(partial: 'recipes/recipes_nav_links', locals: {user: current_user}) %>

<br><br>Search coming soon<br><br>

<% headers = nil %>
<% data = collect_recipes_for_table_display(@user.recipes) %>
<%= render(partial: 'application/table_view_generator/table_generator',
locals: {headers: headers, data: data}) %>
