<h1>My Recipes</h1>

<%= render(
partial: 'recipes/partials/controls/recipes',
locals: {
  user: current_user
}) %>

<br><br>Search coming soon<br><br>

<% headers = nil %>
<% data = collect_recipes_for_table_display(@user.recipes) %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  headers: headers,
  data: data
}) %>
