<h1>Progress to Targets</h1>

<%= render(
partial: 'users/partials/controls/user',
locals: {
  user: current_user
}) %>

<br><br>date and timeframe toggles coming soon!<br><br>

<h3>Macronutrients</h3>
<% data = collect_user_progress_for_table_display(@user, 'macronutrient') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>

<h3>Vitamins</h3>
<% data = collect_user_progress_for_table_display(@user, 'vitamin') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>

<h3>Minerals</h3>
<% data = collect_user_progress_for_table_display(@user, 'mineral') %>
<%= render(
partial: 'application/partials/table_view_generator/table',
locals: {
  data: data
}) %>
