<h1><%= @user.name %></h1>

<h2>Progress to Targets</h2>

  <% headers = ["Macronutrients"] %>
  <% data = collect_user_target_progress_for_table_display(@user, 'macronutrient') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>

  <% headers = ["Vitamins"] %>
  <% data = collect_user_target_progress_for_table_display(@user, 'vitamin') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>

  <% headers = ["Minerals"] %>
  <% data = collect_user_target_progress_for_table_display(@user, 'mineral') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>
