<h1>Sign Up</h1>

<%= link_to "Authenticate with Google", "/auth/google_oauth2", id: "sign_in" %>
<br><br>-OR-<br><br>
Sign Up with email<br><br>
<%= render(
  partial: 'users/partials/forms/sign_up',
  locals: {
    model: @user,
    url: '/sign-up',
    method: :post
}) %>
<br><br>
Already have an account?
<%= link_to("Log In", "/log-in", method: :get) %>
