<h1>Sign Up</h1>

<%= render(
  partial: 'users/partials/forms/sign_up',
  locals: {
    model: @user,
    url: '/sign-up',
    method: :post
}) %>
<br><br>
Already have an account?
<%= link_to("Log In", "/log-in", method: :get) %>
